rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to any document if the user is logged in
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
